@use './variables.scss' as *;


@mixin tablet {
    @media (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin letter {
    letter-spacing: var(--letter-width);
}

@mixin nav-text {
    font-size: var(--nav-text);
    line-height: 1rem;
}