$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

:root {
    --site-padding: 1rem;
    --letter-width: 25rem;
    --nav-text: 0.875rem;
}

$site-padding: var(--site-padding);

/* Colours */
$night: #141414;
$white: #FFFFFF;
$ash-gray: #ABBEBD;
$platinum: #E9E9E9;
$robin-egg-blue: #10C9C2;
$antiflash-white: #EEEFEE;
$jet: #373737;
$seasalt: #F8F9F9;

/* SCSS RGBA */
$night: rgba(20, 20, 20, 1);
$white: rgba(255, 255, 255, 1);
$ash-gray: rgba(171, 190, 189, 1);
$platinum: rgba(233, 233, 233, 1);
$robin-egg-blue: rgba(16, 201, 194, 1);
$night-2: rgba(20, 20, 20, 1);
$antiflash-white: rgba(238, 239, 238, 1);
$jet: rgba(55, 55, 55, 1);
$platinum-2: rgba(233, 233, 233, 1);
$seasalt: rgba(248, 249, 249, 1);