@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;


.header {
    width: 95%;
    background: $white;
    padding-bottom: 1rem;

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;

            &-item {
                @include nav-text;
                @include letter;
                color: $night;

                &:hover {
                   color: $robin-egg-blue;
                }
            }
        }
    }

    &__logo {
        width: 3.75rem;
    }
}