@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;


.project {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__content {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
        background: $secondary;

        &-col {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include desktop {
                &:nth-child(1) {
                    order: 2;
                }

                &:nth-child(2) {
                    order: 1;
                }
            }

            &--first {
                height: 18rem;

                @include tablet {
                    height: 30rem;
                }


                @include desktop {
                    height: 46rem;
                    width: 53%;
                }
            }

            &--second {
                @include desktop {
                    height: 46rem;
                    width: 45%;
                }

            }
        }
    }

    &__description {
        width: 95%;
        margin: 0 auto;
        padding: 1.25rem;
        text-align: left;

        @include desktop {
            padding: 2.5rem;
        }
    }

    &__title {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        @include section-header;
        font-weight: 700;
    }

    &__summary {
        color: $tertiary-text;
    }

    &__details {
        margin: 3rem 0 1.5rem 0;
        line-height: 1.875rem;
    }

    &__subheading {
        font-weight: 700;
    }

    &__text>a {
        color: $primary;
    }

    &__imgs {
        width: 100%;
        height: 100%;
    }

    &__nav {
        @include nav-text;
        width: 100%;
        background: $primary-light-bg;
        display: flex;
        align-items: center;
        justify-content: center;

        &-list {
            width: 100%;
            padding: 2.5rem 1.25rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include tablet {
                width: 95%;
            }

            &-item {
                font-weight: 700;
                cursor: pointer;
            }
        }
    }

    &__icons {
        width: 2.25rem;
        margin-top: 1.25rem;
        filter: invert(85%) sepia(15%) saturate(201%) hue-rotate(128deg) brightness(87%) contrast(86%);
        transition: all 0.4s ease-in-out;

        &:hover {
            filter: invert(72%) sepia(84%) saturate(1827%) hue-rotate(124deg) brightness(89%) contrast(87%);
            transform: translateY(-0.3125rem);
            transition: all 0.4s ease-in-out;
        }

        &:hover+&-shadow {
            opacity: 0.4;
            transition: all 0.4s ease-in-out;
        }

        &-shadow {
            margin-left: 0.5rem;
            height: 0;
            width: 1.25rem;
            border-radius: 6.25rem;
            background: none;
            opacity: 0;
            box-shadow: 0 0.25rem 5px 1.5px rgba($jet, 0.4), inset 0 0 0 0 rgba($jet, 0);
            transition: all 0.4s ease-in-out;
        }
    }
}